## print

In [1]:
print("Hi")

Hi

In [2]:
a = 1

In [3]:
a

1

In [4]:
a = '안녕 파이썬'

b = "안녕안녕 파이썬"

In [5]:
a

'안녕 파이썬'

In [6]:
b

'안녕안녕 파이썬'

In [7]:
c = "나는 변수 C입니다."

In [8]:
print(c)

나는 변수 C입니다.

In [9]:
d = input("입력을 받겠습니다 : ")

입력을 받겠습니다 : 안녕하세요

In [10]:
print(d)

안녕하세요

In [13]:
print("변수 a의 길이는 : ", len(a))

변수 a의 길이는 :  6

In [14]:
print("변수 b의 길이는 : ", len(b))

변수 b의 길이는 :  8

In [16]:
# a, b, c, d 변수를 출력해주는 print문 예제

print(a, b, c, d)

안녕 파이썬 안녕안녕 파이썬 나는 변수 C입니다. 안녕하세요

## 자료형

In [17]:
# "asd", "안녕" => string(문자열)
# 1, 2, 100, 1996 => integer(정수)
# 1.1, 33.333333, 3.141592653589 => float(실수)

In [19]:
int_num = 35
flo_num = 3.1415
string = "파이썬"

In [31]:
# type()
print(type(int_num))
print(type(flo_num))
print(type(string))

<class 'str'>
<class 'float'>
<class 'str'>

In [33]:
int_num = str(35)
print(int_num)

35

In [25]:
type(int_num)

str

In [26]:
int(35) => 35
str(35) => "35" or '35'

## 간단한 사칙연산

In [27]:
def adder(value1, value2):
    result = value1 + value2
    return result

In [28]:
adder(1,2)

3

In [29]:
1 + 2

3

In [38]:
10 - 5

5

In [39]:
10 * 10

100

In [46]:
## 몫을 실수로 구하기
100 / 50

2.0

In [37]:
50 / 2

25.0

In [45]:
# 몫을 정수로 구하기
100 // 2

50

In [41]:
50 // 2

25

In [44]:
# 나머지 구하기
100 % 3

1

In [50]:
int(100/5)

20

## List

In [55]:
list_a = ["최은선", "정세윤", "이유진", "김민주"]

In [56]:
print(list_a)

['최은선', '정세윤', '이유진', '김민주']

In [60]:
# List Indexing
print(list_a[0])
print(list_a[1])
print(list_a[2])
print(list_a[3])

최은선
정세윤
이유진
김민주

In [61]:
len(list_a)

4

In [73]:
# List 값 추가
list_a.append("김재훈")

In [66]:
list_a

['최은선', '정세윤', '이유진', '김민주', '김재훈', '김재훈']

In [67]:
list_a.remove("김재훈")

In [70]:
list_a.pop(4)

'김재훈'

In [72]:
list_a

['최은선', '정세윤', '이유진', '김민주']

In [74]:
list_a

['최은선', '정세윤', '이유진', '김민주', '김재훈']

## if문 (조건문)

In [83]:
은선 = "가위"
세윤 = "보자기"

In [84]:
# If문은 괄호 안에 조건이 참(True)면 아래 내용 실행
if(세윤=="보자기"):
    print("은선님이 이겼습니다.")

은선님이 이겼습니다.

In [91]:
민주 = ""

In [90]:
if(민주=="수박"):
    print("민주님이 수박을 가지고 있습니다.")
elif(민주=="포도"):
    print("민주님이 포도를 가지고 있습니다.")
else:
    print("민주님은 아무것도 가지고 있지 않습니다.")

민주님은 아무것도 가지고 있지 않습니다.

In [114]:
# True == 참
# False == 거짓
# 숫자 0 == 거짓
# 0 외의 숫자 == 참
유진 = 0

In [115]:
if(유진):
    print("이 조건문은 참입니다.")

### 기본적으로 프로그래밍에서 조건문은 전부 참 or 거짓을 판별해서 내용을 실행.

In [119]:
val = "안녕하세요"

if(len(val)>4):
    print("위 if문의 조건이 참입니다.")

위 if문의 조건이 참입니다.

In [123]:
if(0==False):
    print("위 if문의 조건이 참입니다.")

위 if문의 조건이 참입니다.

In [124]:
if(1==True):
    print("위 if문의 조건이 참입니다.")

위 if문의 조건이 참입니다.

In [125]:
if(3==True):
    print("위 if문의 조건이 참입니다.")

In [127]:
if(345345):
    print("위 if문의 조건이 참입니다.")

위 if문의 조건이 참입니다.